<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oms.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.oms.dao.entity.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="price" jdbcType="BIGINT" property="price"/>
        <result column="created_time" jdbcType="DATE" property="createdTime"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="queryGoodsCar" resultType="com.oms.api.response.GoodsCarVO">
            select o.status,
               o.remark,
               o.price      as carPrice,
               o.quantity,
               o.creat_time as creatTime,
               g.goods_name as goodsName,
               g.price,
               g.title,
               g.pictrue3,
               g.picture2,
               g.picture1
            from `order` o
                left join goods g on g.id = o.goods_id
                where o.open_id = #{openId};
    </select>
</mapper>